{% load static%}

<!DOCTYPE HTML>

<html>
	<head>
		<title>HORN AVIATION</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'hornaviationapp/css/main.css'%}" />
	</head>
	<body class="is-preload">
		
		<div id="page-wrapper">

		<!-- Header -->
		<div id="header">

			<!-- Logo -->
				<div class="logo">
				
			</div>

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="current"><a href="{% url 'index' %}">Home</a></li>
						<li ><a href="{% url 'About' %}">About Us</a></li>
						<li ><a href="{% url 'Services' %}">Services </a></li>
						<li><a href="{% url 'Contactus' %}">Contact Us </a></li>
						<li><a href="{% url 'Blog' %}">Blog</a></li>
					</ul>
				</nav>

		</div>

            
			<!-- Banner -->
				<section id="banner">
				    <header class ="anim-typewritter">
					
				   						<h2><em>WHY HORN AVIATION? </em> </h2>
					</header>
				</section>

			<!-- Highlights -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row gtr-200">
							<section class="col-4 col-12-narrower">
								<div class="box highlight">
									<i class="icon solid major fas fa-tags"></i>
									<h3>Our Commitment</h3>
									<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
									<a href="{% url 'About' %}" class="button">Learn More</a>
								</div>
							</section>
							<section class="col-4 col-12-narrower">
								<div class="box highlight">
									<i class="icon solid major fas fa-user-friends"></i>
									<h3>Our Team</h3>
									<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
									<a href="{% url 'About' %}" class="button">Learn More</a>
								</div>
							</section>
							<section class="col-4 col-12-narrower">
								<div class="box highlight">
									<i class="icon solid major fa-wrench"></i>
									<h3>Our Services</h3>
									<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
									<a href="{% url 'Services' %}" class="button">Learn More</a>
								</div>
							</section>
						</div>
					</div>
				</section>

			<!-- Gigantic Heading -->
				<section class="wrapper style2">
					<div class="container">
						<header class="major">
							<h2>Why Horn Aviation?</h2>
							<p>Be Great! It’s as simple as two words. Greatness comes from Truth, Integrity and helping others, this is our mission statement! We are always here to help clients through their engine processes.</p>
							<p> To Learn More about us Download our Company Profile</p>
							<a href="{% static 'hornaviationapp/Permission.docx' %}" download  
							class="button"><i class="fa fa-folder-open"></i>  COMPANY PROFILE
						    </a>
						</header>
					</div>
				</section>

			<!-- Posts -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row">
							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a href="#" class="image left"><img src="{% static 'hornaviationapp/images/pic05.jpg'%} " /></a>
									<div class="inner">
										<h3>The First Thing</h3>
										<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
									</div>
								</div>
							</section>
							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a href="#" class="image left"><img src="{% static 'hornaviationapp/images/pic06.jpg'%} " /></a>
									<div class="inner">
										<h3>The Second Thing</h3>
										<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
									</div>
								</div>
							</section>
						</div>
						<div class="row">
							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a href="#" class="image left"><img src="{% static 'hornaviationapp/images/pic07.jpg'%}" /></a>
									<div class="inner">
										<h3>The Third Thing</h3>
										<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
									</div>
								</div>
							</section>
							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a href="#" class="image left"><img src="{% static 'hornaviationapp/images/pic08.jpg'%} " /></a>
									<div class="inner">
										<h3>The Fourth Thing</h3>
										<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
									</div>
								</div>
							</section>
						</div>
					</div>
				</section>

			<!-- CTA -->
				<section id="cta" class="wrapper style3">
					<div class="container">
						<header>
							<h2>Be Great! It’s as simple as two words. Greatness comes from Truth, Integrity and helping others, this is our mission statement! 
							We are always here to help clients through their engine processes.</h2>
							<h2>Contact Us to get Started</h2>
							<a href="{% url 'Contactus'%}" class="button"><i class="fa fa-phone-square" aria-hidden="true"></i> 	Contact Us</a>	
						</header>
					</div>
				</section>

			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">
							<section class="col-3 col-6-narrower col-12-mobilep">
								<h3>Information</h3>
								<ul class="links">
									<li><a href="{% url 'index' %}"><i class="fas fa-check"></i> Home</a></li>
									<li><a href="{% url 'About'%}"><i class="fas fa-check"></i> About Us</a></li>
									<li><a href="{% url 'Services' %}"><i class="fas fa-check"></i> Services</a></li>
									<li><a href="{% url 'Contactus' %}"><i class="fas fa-check"></i> Contact Us</a></li>
									<li><a href="{% url 'Blog' %}"><i class="fas fa-check"></i> Blog</a></li>									
								</ul>
							</section>
							<section class="col-3 col-6-narrower col-12-mobilep">								
								<h3>Recent Blog</h3>
										<div class="f-blog">
											<a href="{% url 'Blog' %}" class="blog-img" style="background-image: url({% static 'hornaviationapp/images/pic05.jpg'%});">
											</a>
											<div class="desc">
												<h2><a href="{% url 'Blog' %}">Horn Aviation</a></h2>
												<p class="admin"><span>1st Jan 2020</span></p>
											</div>
										</div>
										<div class="f-blog">
											<a href="{% url 'Blog' %}" class="blog-img" style="background-image: url({% static 'hornaviationapp/images/pic06.jpg'%});">
											</a>
											<div class="desc">
												<h2><a href="{% url 'Blog' %}">PLanes</a></h2>
												<p class="admin"><span>1st Jan 2020</span></p>
											</div>
										</div>
										<div class="f-blog">
											<a href="{% url 'Blog' %}" class="blog-img" style="background-image: url({% static 'hornaviationapp/images/pic07.jpg'%});">
											</a>
											<div class="desc">
												<h2><a href="{% url 'Blog' %}
													">Travel Safe</a></h2>
												<p class="admin"><span>1st Jan 2020</span></p>
											</div>
										</div>
							</section>
							<section class="col-6 col-12-narrower">
								<h3>Get In Touch</h3>
								<form action="contact_info" method="POST">
									{% csrf_token %}
									<div class="row gtr-50">
										<div class="col-6 col-12-mobilep">
											<input type="text" name="fname" id="name" placeholder="Name" />
										</div>
										<div class="col-6 col-12-mobilep">
											<input type="email" name="email" id="email" placeholder="Email" />
										</div>
										<div class="col-12">
											<textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
										</div>
										<div class="col-12">
											<ul class="actions">
												<li><input type="submit" class="button alt" value="Send Message" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section>
						</div>
					</div>

					<!-- Icons -->
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
							<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							<li><a href="#" class="icon brands fa-google-plus-g"><span class="label">Google+</span></a></li>
						</ul>

					<!-- Copyright -->
						<div class="copyright">
							<ul class="menu">
								<li>&copy; Horn Aviation. All rights reserved 2020</li><br>
								<li>Built and Maintained by 120Frames, Begetter</li>
							</ul>
						</div>

				</div>

		</div>

		<!-- Scripts -->
		<script src="{% static 'hornaviationapp/js/jquery.min.js'%}"></script>
		<script src="{% static 'hornaviationapp/js/jquery.dropotron.min.js'%}"></script>
		<script src="{% static 'hornaviationapp/js/browser.min.js'%}"></script>
		<script src="{% static 'hornaviationapp/js/breakpoints.min.js'%}"></script>
		<script src="{% static 'hornaviationapp/js/util.js'%}"></script>
		<script src="{% static 'hornaviationapp/js/main.js'%}"></script>

	</body>
</html>